[Unit]
Description=Fan Service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/srv/weather
ExecStart=/usr/bin/env python3 /srv/weather/fan.py
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
