[Unit]
Description=Weather Service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/srv/weather
ExecStartPre=touch /var/run/temperature.log
ExecStartPre=chown pi:pi /var/run/temperature.log
ExecStart=/srv/weather/env/bin/python3 /srv/weather/weather.py
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
